jovidic_aplikacija_2_1/src/conf/xml-resources/web-service-references/GeoMeteoWS/wsdl/localhost_8084/jovidic_aplikacija_1/GeoMeteoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servisi.jovidic.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servisi.jovidic.nwtis.foi.org/" name="GeoMeteoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://servisi.jovidic.nwtis.foi.org/" schemaLocation="http://localhost:8084/jovidic_aplikacija_1/GeoMeteoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="dajZadnjeVazecePodatkeZaAdresu">
<part name="parameters" element="tns:dajZadnjeVazecePodatkeZaAdresu"/>
</message>
<message name="dajZadnjeVazecePodatkeZaAdresuResponse">
<part name="parameters" element="tns:dajZadnjeVazecePodatkeZaAdresuResponse"/>
</message>
<message name="dajVazeceMeteoPodatkeZaAdresu">
<part name="parameters" element="tns:dajVazeceMeteoPodatkeZaAdresu"/>
</message>
<message name="dajVazeceMeteoPodatkeZaAdresuResponse">
<part name="parameters" element="tns:dajVazeceMeteoPodatkeZaAdresuResponse"/>
</message>
<message name="dajSveMeteoPodatkeZaAdresu">
<part name="parameters" element="tns:dajSveMeteoPodatkeZaAdresu"/>
</message>
<message name="dajSveMeteoPodatkeZaAdresuResponse">
<part name="parameters" element="tns:dajSveMeteoPodatkeZaAdresuResponse"/>
</message>
<message name="dajNmeteoZaAdresu">
<part name="parameters" element="tns:dajNmeteoZaAdresu"/>
</message>
<message name="dajNmeteoZaAdresuResponse">
<part name="parameters" element="tns:dajNmeteoZaAdresuResponse"/>
</message>
<message name="dajMeteoIzmeduDatuma">
<part name="parameters" element="tns:dajMeteoIzmeduDatuma"/>
</message>
<message name="dajMeteoIzmeduDatumaResponse">
<part name="parameters" element="tns:dajMeteoIzmeduDatumaResponse"/>
</message>
<message name="provjeriAdresu">
<part name="parameters" element="tns:provjeriAdresu"/>
</message>
<message name="provjeriAdresuResponse">
<part name="parameters" element="tns:provjeriAdresuResponse"/>
</message>
<message name="dajSveAdrese">
<part name="parameters" element="tns:dajSveAdrese"/>
</message>
<message name="dajSveAdreseResponse">
<part name="parameters" element="tns:dajSveAdreseResponse"/>
</message>
<message name="dajRangAdresa">
<part name="parameters" element="tns:dajRangAdresa"/>
</message>
<message name="dajRangAdresaResponse">
<part name="parameters" element="tns:dajRangAdresaResponse"/>
</message>
<message name="dajSveMeteo">
<part name="parameters" element="tns:dajSveMeteo"/>
</message>
<message name="dajSveMeteoResponse">
<part name="parameters" element="tns:dajSveMeteoResponse"/>
</message>
<portType name="GeoMeteoWS">
<operation name="dajZadnjeVazecePodatkeZaAdresu">
<input wsam:Action="http://servisi.jovidic.nwtis.foi.org/GeoMeteoWS/dajZadnjeVazecePodatkeZaAdresuRequest" message="tns:dajZadnjeVazecePodatkeZaAdresu"/>
<output wsam:Action="http://servisi.jovidic.nwtis.foi.org/GeoMeteoWS/dajZadnjeVazecePodatkeZaAdresuResponse" message="tns:dajZadnjeVazecePodatkeZaAdresuResponse"/>
</operation>
<operation name="dajVazeceMeteoPodatkeZaAdresu">
<input wsam:Action="http://servisi.jovidic.nwtis.foi.org/GeoMeteoWS/dajVazeceMeteoPodatkeZaAdresuRequest" message="tns:dajVazeceMeteoPodatkeZaAdresu"/>
<output wsam:Action="http://servisi.jovidic.nwtis.foi.org/GeoMeteoWS/dajVazeceMeteoPodatkeZaAdresuResponse" message="tns:dajVazeceMeteoPodatkeZaAdresuResponse"/>
</operation>
<operation name="dajSveMeteoPodatkeZaAdresu">
<input wsam:Action="http://servisi.jovidic.nwtis.foi.org/GeoMeteoWS/dajSveMeteoPodatkeZaAdresuRequest" message="tns:dajSveMeteoPodatkeZaAdresu"/>
<output wsam:Action="http://servisi.jovidic.nwtis.foi.org/GeoMeteoWS/dajSveMeteoPodatkeZaAdresuResponse" message="tns:dajSveMeteoPodatkeZaAdresuResponse"/>
</operation>
<operation name="dajNmeteoZaAdresu">
<input wsam:Action="http://servisi.jovidic.nwtis.foi.org/GeoMeteoWS/dajNmeteoZaAdresuRequest" message="tns:dajNmeteoZaAdresu"/>
<output wsam:Action="http://servisi.jovidic.nwtis.foi.org/GeoMeteoWS/dajNmeteoZaAdresuResponse" message="tns:dajNmeteoZaAdresuResponse"/>
</operation>
<operation name="dajMeteoIzmeduDatuma">
<input wsam:Action="http://servisi.jovidic.nwtis.foi.org/GeoMeteoWS/dajMeteoIzmeduDatumaRequest" message="tns:dajMeteoIzmeduDatuma"/>
<output wsam:Action="http://servisi.jovidic.nwtis.foi.org/GeoMeteoWS/dajMeteoIzmeduDatumaResponse" message="tns:dajMeteoIzmeduDatumaResponse"/>
</operation>
<operation name="provjeriAdresu">
<input wsam:Action="http://servisi.jovidic.nwtis.foi.org/GeoMeteoWS/provjeriAdresuRequest" message="tns:provjeriAdresu"/>
<output wsam:Action="http://servisi.jovidic.nwtis.foi.org/GeoMeteoWS/provjeriAdresuResponse" message="tns:provjeriAdresuResponse"/>
</operation>
<operation name="dajSveAdrese">
<input wsam:Action="http://servisi.jovidic.nwtis.foi.org/GeoMeteoWS/dajSveAdreseRequest" message="tns:dajSveAdrese"/>
<output wsam:Action="http://servisi.jovidic.nwtis.foi.org/GeoMeteoWS/dajSveAdreseResponse" message="tns:dajSveAdreseResponse"/>
</operation>
<operation name="dajRangAdresa">
<input wsam:Action="http://servisi.jovidic.nwtis.foi.org/GeoMeteoWS/dajRangAdresaRequest" message="tns:dajRangAdresa"/>
<output wsam:Action="http://servisi.jovidic.nwtis.foi.org/GeoMeteoWS/dajRangAdresaResponse" message="tns:dajRangAdresaResponse"/>
</operation>
<operation name="dajSveMeteo">
<input wsam:Action="http://servisi.jovidic.nwtis.foi.org/GeoMeteoWS/dajSveMeteoRequest" message="tns:dajSveMeteo"/>
<output wsam:Action="http://servisi.jovidic.nwtis.foi.org/GeoMeteoWS/dajSveMeteoResponse" message="tns:dajSveMeteoResponse"/>
</operation>
</portType>
<binding name="GeoMeteoWSPortBinding" type="tns:GeoMeteoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajZadnjeVazecePodatkeZaAdresu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajVazeceMeteoPodatkeZaAdresu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajSveMeteoPodatkeZaAdresu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajNmeteoZaAdresu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajMeteoIzmeduDatuma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="provjeriAdresu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajSveAdrese">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajRangAdresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajSveMeteo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GeoMeteoWS">
<port name="GeoMeteoWSPort" binding="tns:GeoMeteoWSPortBinding">
<soap:address location="http://localhost:8084/jovidic_aplikacija_1/GeoMeteoWS"/>
</port>
</service>
</definitions>